:root {
   background-color: rgb(255, 255, 255);

}

body {
   background-color: var(color);
}

h1 {background-color: rgb(255, 255, 255) 0, 0);}

.cabeçalho{display: flex;}

.lista-menu {
   display: none;
   position: absolute;
      top:100%}
      .container_botao:
      :checked~.lista-menu{display: block;}
.lista-menu_item{padding: 1em;}
.lista-menu {
   display: none;
   position: absolute;
   top: 100%;
   width: 60vw;
   
}
:root {
   --fonte-principal: "__________";
}
body {
   font-family: var(______________);
   font-weight: ______;
}
.lista-menu__titulo{
   _____________: 700;
}
.banner__pesquisa {
   background-color: _________________;
   border: 1px solid var(--branco);
   color: var(--branco);
   _______________: 24px;
   padding: 1em;
   width: 100%;
}

.banner__pesquisa::___________________ {
   font-family: var(--fonte-principal);
   font-size: 14px;
   font-weight: 400;
   ______________: center;
   color: var(--branco);
   _______________: url("../img/Lupa.svg") no-repeat;
   background-position: 1em;
}